<h1>Search for domain</h1>

<%= form_tag('/search', method: :post) do %>
  <%= text_field_tag 'domain'%>
  <%= submit_tag 'Check'%>
<% end %>

<% if @domain %>
  <h2><%= @domain %></h2>
<% end %>

<% if @response %>
  <p>Status: <%= @response["products"][0]["status"] %></p>
  <% if @response["products"][0]["status"] == "available" %>
    <p>Price before taxes: <%= @response["products"][0]["prices"][0]["price_before_taxes"] %> <%= @response["currency"] %></p>
    <p>Price after taxes: <%= @response["products"][0]["prices"][0]["price_after_taxes"] %> <%= @response["currency"] %></p>
  <% end %>
<% end %>

<%= javascript_pack_tag 'check_domain' %>